@page
@using PracticeWebApps_Domain.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />


<div class="featured-content">
    <img class="featured-title">
    <p class="featured-desc">
        With the help of a German bounty-hunter,
        a freed slave sets out to rescue his wife from a brutal plantation owner in Mississippi.
    </p>
</div>
<div class="movie-list-container">
    <h1 class="movie-list-title">ACTION</h1>
    <div class="movie-list-wrapper">
        <div class="movie-list">
            @foreach (var movie in Model.Movies.OrderBy(x=>x.Name).Where(p=>p.Genre == Genre.Action).Take(5))
            {
                <div class="movie-list-item">

                    <img class="movie-list-item-img" src="@Url.Content(movie.Picture)" alt="@movie.Name">
                    <span class="movie-list-item-title">@movie.Name</span>
                    <p class="movie-list-item-desc">@movie.Description</p>
                    <a asp-page="ProductPage" asp-route-name="@movie.Name" class="movie-list-item-button">Watch</a>
                </div>
            }
        </div>
    </div>
</div>
<div class="movie-list-container">
    <h1 class="movie-list-title">ADVENTURE</h1>
    <div class="movie-list-wrapper">
        <div class="movie-list">
            @foreach (var movie in Model.Movies.OrderBy(x => x.Name).Where(p => p.Genre == Genre.Adventure).Take(5))
            {
                <div class="movie-list-item">

                    <img class="movie-list-item-img" src="@Url.Content(movie.Picture)" alt="@movie.Name">
                    <span class="movie-list-item-title">@movie.Name</span>
                    <p class="movie-list-item-desc">@movie.Description</p>
                    <a asp-page="ProductPage" asp-route-name="@movie.Name" class="movie-list-item-button">Watch</a>
                </div>
            }
        </div>
    </div>
</div>
<div class="movie-list-container">
    <h1 class="movie-list-title">Series</h1>
    <div class="movie-list-wrapper">
        <div class="movie-list">
            @foreach (var movie in Model.Series.OrderBy(x => x.Name).Take(5))
            {
                <div class="movie-list-item">

                    <img class="movie-list-item-img" src="@Url.Content(movie.Picture)" alt="@movie.Name">
                    <span class="movie-list-item-title">@movie.Name</span>
                    <p class="movie-list-item-desc">@movie.Description</p>
                    <a asp-page="ProductPage" asp-route-name="@movie.Name" class="movie-list-item-button">Watch</a>
                </div>
            }
        </div>
    </div>
</div>