@page
@model PracticeWebApps.Pages.ProductPageModel
@{
}
<link rel="stylesheet" href="/css/Product.css" asp-append-version="true" />

<div class="content">
    <img src="@Model.Movie.Picture" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Movie.Name</h5>
        <p class="card-text">Description: @Model.Movie.Description</p>
        <p class="card-rating">Rating: @Model.Movie.MovieRating</p>
        <p class="card-text">Genre: @Model.Movie.Genre</p>
        <button id="showRatingButton">Rate Movie</button>

        <form method="post">
            <div id="ratingSection" style="display:none;">
                <label for="rating">Rating (1-10):</label>
                <input type="number" id="rating" min="1" max="10"/>
                <br />

                <label for="ratingDecription">Comment:</label>
                <textarea id="ratingDescription"></textarea>
                <br />
                <button id="submitRatingButton">Submit Rating</button>
            </div>
        </form>
    </div>
</div>