@page
@model PracticeWebApps.Pages.SearchModel
@{
}
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />

<h1> Search results for: "@Model.searchQuery"</h1>
<h1>Time Elapsed: @Model.TimeTaken</h1>
<br />
<div class="movie-list">
    @foreach (var movie in Model.SearchResults)
    {
        <div class="movie-list-item">
            <img class="movie-list-item-img" src="@Url.Content(movie.Picture)" alt="@movie.Name">
            <span class="movie-list-item-title">@movie.Name</span>
            <p class="movie-list-item-desc">@movie.Description</p>
            <a asp-page="ProductPage" asp-route-name="@movie.Name" class="movie-list-item-button">Watch</a>
        </div>
    }
</div>