@page
@model PracticeWebApps.Pages.UserProfileModel
@{
}
<link rel="stylesheet" href="/css/UserProfile.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />

<h1>@Model.User.Name's Profile</h1>

<form method="post" asp-page-handler="OnPost" class="container">
    <div>
        <label for="User_Name">Name:</label>
        <input type="text" id="User_Name" name="name" value="@Model.User.Name" asp-for="User.Name"/>
    </div>
    <div>
        <label for="User_Email">Email:</label>
        <input type="text" id="User_Email" name="email" value="@Model.User.Email" asp-for="User.Email" />
    </div>
    <div>
        <label for="User_Phone">Phone:</label>
        <input type="text" id="User_Phone" name="phone" value="@Model.User.Phone" asp-for="User.Phone" />
    </div>

    <input type="hidden" name="previousEmail" value="@Model.User.Email"/>
    <button type="submit">Save Changes</button>  
</form>

@if (Model.Reviews.Count > 0)
{
    <h2>Reviews:</h2>
    <ul>
        @foreach(var review in Model.Reviews)
        {
            <li>Rating: @review.Rating</li>
            <li>Comment: @review.Description</li>
            <hr />
        }
    </ul>
}
else
{
    <h2>No Reviews</h2>
}